<h1 class="title"><%= @product.title %></h1>
<p class="block subtitle"><%= @product.blurb %></p>
<p class="block"><%= @product.description %></p>

<div id="reviews-react" data-product-id="<%= @product.id %>"><b>Loading reviews...</b></div>
<%= javascript_packs_with_chunks_tag 'reviews', 'data-turbolinks-track': 'reload' %>
